{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

        <div class="container" >
            <h1>Comprehensive End to End Quality</h1>
            <li>To describe the measurement of IVR Applications</li>
            <li>To evaluate the quality of solution</li>
        </div>

        <div id="score_container" style="width: 80%; height: 400px;"></div>


{% endblock %}

{% block footer %}
    <script>
        {% include 'project.js' %}
    </script>
{% endblock %}
