{% extends "core/base.html" %}
{% block title %} Projects Defects Density {% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <ul id="subnav-tabs" class="nav nav-tabs">
            <li><a href="#dd_detail" data-toggle="tab">Current Defect Impact</a> </li>
            <li><a href="#dd_trend" data-toggle="tab">Trending Defect Impact</a> </li>
            <li><a href="#ceeq_trend" data-toggle="tab">Trending CEEQ Score</a> </li>
            <li><a href="#dd_history" data-toggle="tab">History Defect Impact</a> </li>
        </ul>
    </div>

    <div class="container">
        <div class="tab-content">
            <div class="tab-pane" id="dd_detail">
                {% include 'defects_density/project_dd_detail.html' %}
            </div>

            <div class="tab-pane" id="dd_trend">
                {% include 'defects_density/project_dd_trend.html' %}
            </div>

            <div class="tab-pane" id="ceeq_trend">
                {% include 'defects_density/project_ceeq_trend.html' %}
            </div>

            <div class="tab-pane" id="dd_history">
                {% include 'dd_list_single.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script>
        {% include 'defects_density/ddensity.js' %}
    </script>
{% endblock %}