{% extends 'core/base.html' %}

{% block title %}Sign In {% endblock %}

{% block extrahead %}

{% endblock %}

{% block body %}

    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <br><br>
        <div class="row text-center">
            <img src="{{ STATIC_URL }}ceeq/CEEQ.jpg ">
        </div>
        <div class="well" id="landing-well" style="margin-top: 25px;">

            <div>
                <form class="form" role="form" method=POST action="{% url 'users:sign_in' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                    <div class="input-group" style="margin-bottom: 10px;">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" tabindex="1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" tabindex="2">
                    </div>
                    <p class="help-block text-center">Please use your Active Directory credentials.</p>
                    <hr>
                    <div class="row text-center">
                        <div class="col-xs-3"></div>
                        <div class="form-group col-xs-6" >
                            <button type="submit" class="btn btn-primary btn-block" tabindex="4">Sign In</button>
                        </div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>

        </div>
    </div>
    <div class="col-xs-3"></div>



{% endblock %}

{% block footer %}
    <script type="text/javascript">
        $(function () {
            $('#username').focus();
            $('#username').select();
        });
    </script>
{% endblock %}