<ul class="nav nav-pills" id="projects-pills">
    <li><a href="#projects-active" data-toggle="pill">Projects</a> </li>
    <li><a href="#projects-archive" data-toggle="pill">Archives</a> </li>
</ul>


<div class="tab-content" id="projects-content">
    <div class="tab-pane" id="projects-active">
        <br>
            {% if projects_active %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-8">
                    <small>
                        {% if superuser %}
                            <i class="fa fa-pencil fa=lg"></i> Create a <a href="{% url 'q_project_new' %}"> New Project </a> &nbsp; | &nbsp;
                        {% endif %}
                        <i class="fa fa-cloud-upload fa-lg"></i><a href="{% url 'defects_density_log' 1000000 %}" id="dd_log_all"> Log All DDs</a> &nbsp; | &nbsp;
                        <i class="fa fa-refresh fa-lg"></i><a href="{% url 'project_update_scores' 1000000 %}" id="update_all"> Update All Scores</a>
                    </small>
                </div>
                <div class="col-md-2">
                    <p id="throbber" hidden><i class="fa fa-spinner fa-2x fa-spin"></i> </p>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed table-bordered" style="text-transform: capitalize;">
                    <thead>
                        <tr>
                            <td class="col-md-3"><strong>Name</strong></td>
                            <td class="col-md-3"><strong>JIRA Version</strong></td>
                            <td class="col-md-2"><strong>JIRA URL</strong></td>
                            <td class="col-md-2"><strong>Impact Map</strong></td>
                            <td class="col-md-2"><strong>Evaluation</strong></td>
                            <td class="col-md-2"><strong>Instance</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects_active %}
                            <tr>
                                <td><a href='{% url 'q_project_detail' project.id%}'>{{ project.name}}</a></td>
                                <td>
                                    {% if project.jira_version == 'All Versions' %}
                                        <a href="{{ project.instance.url }}/issues/?jql=project={{ project.jira_key }}" target="_blank">
                                    {% else %}
                                        <a href='{{ project.instance.url }}/issues/?jql=project={{ project.jira_key }} AND affectedVersion = "{{ project.jira_version }}" ' target="_blank">
                                    {% endif %}
                                    {{ project.jira_version }}</a>
                                </td>
                                <td><a href='{{ project.instance.url }}/browse/{{ project.jira_key }}' target="_blank">{{ project.jira_key }}</a></td>
                                <td><a href="#framework_parameter" data-toggle="tab" id="project_type_{{ project.pk }}"> {{ project.impact_map.name }}</a></td>
                                <td>
                                    {% if project.internal_score == 101 %}
                                        No created issues
                                    {% elif project.internal_score == 102 %}
                                        <a href="{% url 'project_defects_density' project.id %}">Out of Range</a>
                                    {% elif project.internal_score == 103 %}
                                        {# No open issues#}
                                        <a href="{% url 'project_defects_density' project.id %}"> 10.0</a>
                                        {% if superuser %}
                                            <i class="fa fa-indent"></i>
                                            <a href="{% url 'defects_density_log' project.id %}" onclick="$('#throbber').show();"> Log</a>
                                        {% endif %}

                                    {% elif project.internal_score == 104 %}
                                        No JIRA Data
                                    {% elif project.internal_score == 109 %}
                                        No evaluation
                                    {% else %}
                                        <a href="{% url 'project_defects_density' project.id %}">
                                            {% if project.internal_score < 0 %}
                                                <font color="red">{{ project.internal_score }}</font>
                                            {% else %}
                                                {{ project.internal_score }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ project.instance.url }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <small><i class="fa fa-pencil"></i> Create a <a href="{% url 'project_new' %}"> New Project </a>
        </small>
        <p>No projects available</p>
        {% endif %}
    </div>

    <div class="tab-pane" id="projects-archive">
        <br>
            {% if projects_archive %}


            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed table-bordered" style="text-transform: capitalize;">
                    <thead>
                        <tr>
                            <td class="col-md-3"><strong>Name</strong></td>
                            <td class="col-md-3"><strong>JIRA Version</strong></td>
                            <td class="col-md-2"><strong>JIRA Key</strong></td>
                            <td class="col-md-2"><strong>Impact Map</strong></td>
                            <td class="col-md-4"><strong>Evaluation</strong></td>
                            <td class="col-md-2"><strong>Instance</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects_archive %}
                            <tr>
                                <td><a href='{% url 'q_project_detail' project.id%}'>{{ project.name|truncatechars:20 }}</a></td>
                                <td>
                                    {% if project.jira_version == 'All Versions' %}
                                        <a href="{{ project.instance.url }}/issues/?jql=project={{ project.jira_key }}" target="_blank">
                                    {% else %}
                                        <a href='{{ project.instance.url }}/issues/?jql=project={{ project.jira_key }} AND affectedVersion = "{{ project.jira_version }}" ' target="_blank">
                                    {% endif %}
                                    {{ project.jira_version }}</a>
                                </td>
                                <td><a href='{{ project.instance.url }}/browse/{{ project.jira_key }}' target="_blank">{{ project.jira_key }}</a></td>
                                <td>{{ project.impact_map.name}}</td>
                                <td>
                                    {% if project.internal_score == 101 %}
                                        No created issues
                                    {% elif project.internal_score == 102 %}
                                        <a href="{% url 'project_defects_density' project.id %}">Out of Range</a>
                                    {% elif project.internal_score == 103 %}
                                        <a href="{% url 'project_defects_density' project.id %}"> No open issues</a>

                                    {% elif project.internal_score == 104 %}
                                        No JIRA Data
                                    {% elif project.internal_score == 109 %}
                                        No evaluation
                                    {% else %}
                                        <a href="{% url 'project_defects_density' project.id %}">
                                            {% if project.internal_score < 0 %}
                                                <font color="red">{{ project.internal_score |floatformat:2 }}</font>
                                            {% else %}
                                                {{ project.internal_score |floatformat}}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </td>
                                <td> {{ project.instance.url }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No archived projects available</p>
        {% endif %}
    </div>
</div>


{% block footer %}

{% endblock %}