{% extends 'base.html' %}

{% block title %}Project Subcomponents{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <legend>Sub Components Percentage to Applications - {{ project.name }}</legend>
        </div>
        <div id="apps_subcomponent_percentage_pie_chart" style="width: 800px; height: 600px; margin: 0 auto;">
            <div class="loading" style="text-align: center; margin-top: 10px;">
                <i class="fa fa-spinner fa-2x fa-spin"></i>
                Loading data from JIRA Database...
            </div>
        </div>
        <div class="row">
            <p style="text-align: center;">
                Export Graph to:
                <button id="png">PNG</button>
                <button id="jpeg">JPEG</button>
                <button id="pdf">PDF</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        var title = 'Applications'
        $.getJSON("{% url 'fetch_apps_subcomponents_pie' project.id %}").done(function(data){
            draw_pie_chart_graph(data);
        });
        {% include 'project_sub_components.js' %}
    </script>
{% endblock %}