{% extends 'base.html' %}

{% block title %}ProjectDetail{% endblock %}

{% block body %}
    <div class="container">

        <form action="{% url 'project_edit' project.id %}" method="post">
            <div class="row">
                <legend>Project Information</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">Project Name</div>
                <div class="col-md-8">{{ form.name }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">JIRA URL</div>
                <div class="col-md-8">{{ form.jira_name }}</div>
            </div>
            {% if superuser %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2" style="text-align: left;font-size: 18px;">JIRA Version</div>
                    <div class="col-md-8">
                        <select name="jira_version" class="form-control" id="jira_version">
                            {% for item in version_names %}
                                {% if item == project.jira_version %}
                                    <option value="{{ item }}" selected>{{ item }}</option>
                                {% else %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2" style="text-align: left;font-size:18px;">Active</div>
                    <div class="col-md-1">{{ form.active }}</div>
                    <div class="col-md-7">Flag to track JIRA Project.</div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2" style="text-align: left;font-size:18px;">Complete</div>
                    <div class="col-md-1">{{ form.complete }}</div>
                    <div class="col-md-7">Flag to show CEEQ Project completed.</div>
                </div>
            {% else %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2" style="text-align: left;font-size:18px;">JIRA Version</div>
                    <div class="col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ project.jira_version }}</div>
                </div>
            {% endif %}

            <!--
            <div class="row">
                <legend>Testing Characteristics (Scales: 0-5)</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accuracy</div>
                <div class="col-md-3">{{ form.accuracy }}</div>
                <div class="col-md-2">Technical Security</div>
                <div class="col-md-3">{{ form.technical_security }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Suitability</div>
                <div class="col-md-3">{{ form.suitability }}</div>
                <div class="col-md-2">Reliability</div>
                <div class="col-md-3">{{ form.reliability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Interoperability</div>
                <div class="col-md-3">{{ form.interoperability }}</div>
                <div class="col-md-2">Efficiency</div>
                <div class="col-md-3">{{ form.efficiency }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Functional Security</div>
                <div class="col-md-3">{{ form.functional_security }}</div>
                <div class="col-md-2">Maintainability</div>
                <div class="col-md-3">{{ form.maintainability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Usability</div>
                <div class="col-md-3">{{ form.usability }}</div>
                <div class="col-md-2">Portability</div>
                <div class="col-md-3">{{ form.portability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accessibility</div>
                <div class="col-md-3">{{ form.accessibility }}</div>
                <div class="col-md-2"></div>
                <div class="col-md-3"></div>
            </div>
            -->

            {% csrf_token %}
            <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
                <div class="col-md-4">
                </div>
                {% if superuser %}
                <div class="col-md-2">
                    <input id="project_new" class="btn btn-primary" type="submit" value="Save" style="width: 100%">
                </div>
                <div class="col-md-2">
                    <a href="#deleteModal"  data-toggle="modal" role="button" class="btn btn-default" id="project_delete" style="width: 100%;">Delete</a>
                </div>
                {% endif %}
            </div>
        </form>

        {% if project.score > 10  %}
            <h4>No JIRA Data fetched.</h4>
            {% if project.score == 101 %}
                No created issues
            {% elif project.score == 103 %}
                No open issues
            {% elif project.score == 104 %}
                No JIRA Data
            {% elif project.score == 109 %}
                No evaluate
            {% endif %}
        {% else %}
            <div class="row">
                <legend>Components Percentage to CEEQ Score</legend>
                <ul id="subnav-tabs" class="nav nav-tabs">
                    <li><a href="#include_uat" data-toggle="tab">Include UAT</a> </li>
                    <li><a href="#exclude_uat" data-toggle="tab">Exclude UAT</a> </li>
                    <li><a href="#only_uat" data-toggle="tab">Only UAT</a> </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="include_uat">
                    {% include 'project_detail_include_uat.html' %}
                </div>

                <div class="tab-pane" id="exclude_uat">
                    {% include 'project_detail_exclude_uat.html' %}
                </div>

                <div class="tab-pane" id="only_uat">
                    {% include 'project_detail_only_uat.html' %}
                </div>
            </div>

        {% endif %}

        <!--Delete Project confirmatoin modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="myModalLabel">Delete Project "{{ project.name }}"?</h3>
                    </div>
                    <div class="modal-body">
                        <p>Warning! This change cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="">
                        <button class="btn btn-default" data-dismiss="modal" id="project_undelete">Abort</button>
                        <input type="hidden" name="delete" value="True">
                        <a href="{% url 'project_delete' project.id %}" data-toggle="modal" role="button" class="btn btn-danger" id="project_really_delete">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        var score = parseFloat({{ project.score }});
        //var project_name = {{ project.name }};
        var data_include_uat = {{ dd_pie_data_include_uat | safe }};
        var data_exclude_uat = {{ dd_pie_data_exclude_uat | safe }};
        var data_only_uat = {{ dd_pie_data_only_uat | safe }};

        {% include 'project_detail.js' %}
    </script>

{% endblock %}