{% extends 'base.html' %}

{% block title %}ProjectDetail{% endblock %}

{% block body %}
    <div class="container">

        <form action="{% url 'project_edit' project.id %}" method="post">
            <div class="row">
                <legend>Project Infomation</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">Project Name</div>
                <div class="col-md-8">{{ form.name }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">JIRA URL</div>
                <div class="col-md-8">{{ form.jira_name }}</div>
            </div>

            <div class="row">
                <legend>Testing Characteristics (Scales: 0-5)</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accuracy</div>
                <div class="col-md-3">{{ form.accuracy }}</div>
                <div class="col-md-2">Technical Security</div>
                <div class="col-md-3">{{ form.technical_security }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Suitability</div>
                <div class="col-md-3">{{ form.suitability }}</div>
                <div class="col-md-2">Reliability</div>
                <div class="col-md-3">{{ form.reliability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Interoperability</div>
                <div class="col-md-3">{{ form.interoperability }}</div>
                <div class="col-md-2">Efficiency</div>
                <div class="col-md-3">{{ form.efficiency }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Functional Security</div>
                <div class="col-md-3">{{ form.functional_security }}</div>
                <div class="col-md-2">Maintainability</div>
                <div class="col-md-3">{{ form.maintainability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Usability</div>
                <div class="col-md-3">{{ form.usability }}</div>
                <div class="col-md-2">Portability</div>
                <div class="col-md-3">{{ form.portability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accessibility</div>
                <div class="col-md-3">{{ form.accessibility }}</div>
                <div class="col-md-2"></div>
                <div class="col-md-3"></div>
            </div>

            {% csrf_token %}
            <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <input id="project_new" class="btn btn-primary" type="submit" value="Save" style="width: 100%">
                </div>
                <div class="col-md-2">
                    <a href="#deleteModal"  data-toggle="modal" role="button" class="btn btn-default" id="project_delete" style="width: 100%;">Delete</a>
                </div>
            </div>
        </form>


        <div class="row">
            <legend>Components Weighted Factors (Scales: 0 -1)</legend>
            <p>Standard Component Names: <strong>{{ component_names_standard }}</strong></p>
            <p>Exist Components Names: <strong>{{ component_names }}</strong></p>
        </div>

        {% if weight_factor %}
        <table class="table table-hover table-striped" id="factor_table" >
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center; color: brown">Weighted Factor</th>
                    <th colspan="6" style="text-align: center; color: brown">Number of Issues</th>
                </tr>
                <tr>
                    <th style="background-color: lightcyan">Component Name</th>
                    <th style="background-color: lightcyan">Weight</th>
                    <th style="background-color: lightcyan">Defect Density</th>
                    <th style="background-color: lavender">Total</th>
                    <th style="background-color: lavender">Blocker</th>
                    <th style="background-color: lavender">Critical</th>
                    <th style="background-color: lavender">Major</th>
                    <th style="background-color: lavender">Minor</th>
                    <th style="background-color: lavender">Trivial</th>
                </tr>
            </thead>
            <tbody>
                {% for component,weight,dd, total, blocker, critical, major, minor, trivial in weight_factor %}
                    <tr>
                        <td class="col-sm-3">{{ component }}</td>
                        <td class="col-sm-2">{{ weight|floatformat:3 }}</td>
                        <td class="col-sm-2">{{ dd|floatformat:3 }}</td>
                        <td class="col-sm-1">{{ total }}</td>
                        <td class="col-sm-1">{{ blocker }}</td>
                        <td class="col-sm-1">{{ critical }}</td>
                        <td class="col-sm-1">{{ major }}</td>
                        <td class="col-sm-1">{{ minor }}</td>
                        <td class="col-sm-1">{{ trivial }}</td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}



        <!--Delete Project confirmatoin modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="myModalLabel">Delete Project "{{ project.name }}"?</h3>
                    </div>
                    <div class="modal-body">
                        <p>Warning! This change cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="">
                        <button class="btn btn-default" data-dismiss="modal" id="project_undelete">Abort</button>
                        <input type="hidden" name="delete" value="True">
                        <a href="{% url 'project_delete' project.id %}" data-toggle="modal" role="button" class="btn btn-danger" id="project_really_delete">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <script>
        function setAutoComplete() {
            $("#new_component").autocomplete({
                source: {{ component_names | safe }}, <!-- "ComponentListFromJIRA",-->
                autoFocus: true,
                minLength: 0
            });
        }
    </script>
{% endblock %}