{% extends 'base.html' %}

{% block title %}ProjectDetail{% endblock %}

{% block body %}
    <div class="container">

        <form action="{% url 'project_edit' project.id %}" method="post">
            <div class="row">
                <legend>Project Infomation</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">Project Name</div>
                <div class="col-md-8">{{ form.name }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2" style="text-align: left;font-size:18px;">JIRA URL</div>
                <div class="col-md-8">{{ form.jira_name }}</div>
            </div>

            <div class="row">
                <legend>Testing Characteristics (Scales: 0-5)</legend>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accuracy</div>
                <div class="col-md-3">{{ form.accuracy }}</div>
                <div class="col-md-2">Technical Security</div>
                <div class="col-md-3">{{ form.technical_security }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Suitability</div>
                <div class="col-md-3">{{ form.suitability }}</div>
                <div class="col-md-2">Reliability</div>
                <div class="col-md-3">{{ form.reliability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Interoperability</div>
                <div class="col-md-3">{{ form.interoperability }}</div>
                <div class="col-md-2">Efficiency</div>
                <div class="col-md-3">{{ form.efficiency }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Functional Security</div>
                <div class="col-md-3">{{ form.functional_security }}</div>
                <div class="col-md-2">Maintainability</div>
                <div class="col-md-3">{{ form.maintainability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Usability</div>
                <div class="col-md-3">{{ form.usability }}</div>
                <div class="col-md-2">Portability</div>
                <div class="col-md-3">{{ form.portability }}</div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Accessibility</div>
                <div class="col-md-3">{{ form.accessibility }}</div>
                <div class="col-md-2"></div>
                <div class="col-md-3"></div>
            </div>

            {% csrf_token %}
            <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <input id="project_new" class="btn btn-primary" type="submit" value="Save" style="width: 100%">
                </div>
                <div class="col-md-2">
                    <a href="#deleteModal"  data-toggle="modal" role="button" class="btn btn-default" id="project_delete" style="width: 100%;">Delete</a>
                </div>
            </div>
        </form>


        <div class="row">
            <legend>Components Weighted Factors (Scales: 0 -1)</legend>
            <p>Standard Component Names: <strong>{{ component_names_standard }}</strong></p>
            <p>Exist Components Names: <strong>{{ component_names }}</strong></p>
        </div>

        <table class="table" id="factor_table">
            <thead>
                <tr>
                    <th>Component Name</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>


        <!-- Based on our framework , no need to edit component weigh manually
        {% if superuser %}
        <div class="row">
            <legend>Components Weighted Factors (Scales: 0 -1, Sum Left: {{ weight_left }})</legend>
            <p>All changes to Components Weighted Factors are made by the control on the right
            , re-save project not necessary.</p>
            <p>Standard Component Names: <strong>{{ component_names_standard }}</strong></p>
            <p>Exist Components Names: <strong>{{ component_names }}</strong></p>
        </div>
        <table class="table" id="factor_table">
            <thead>
                <tr>
                    <th>Component Name</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for factor in project.projectcomponentsweight_set.all %}
                    <tr class="sum" id="{{ factor.id }}">
                        <td class="col-sm-3"><input type="text" class="form-control component" value="{{ factor.component }}" onkeypress="clickSave(event);"> </td>
                        <td class="col-sm-3"><input type="text" class="form-control weight" value="{{ factor.weight|floatformat:2 }}" onkeypress="clickSave(event);"> </td>
                        <td class="col-sm-3"><span class="errors"></span> </td>
                        <td class="col-sm-2"><button class="btn btn-block btn-primary factor-save">Update</button> </td>
                        <td class="col-sm-1"><button class="btn btn-block btn-danger factor-delete"><i class="fa fa-trash-o"></i> </button> </td>
                    </tr>
                {% endfor %}
                <tr class="new-factor">
                    <td class="col-sm-3"><input type="text" class="form-control" id="new_component" placeholder="New Component..."> </td>
                    <td class="col-sm-3"><input type="text" class="form-control" id="new_weight" placeholder="New Weight..."> </td>
                    <td class="col-sm-3"><span id="new_factor_errors"></span> </td>
                    <td class="col-sm-2"><button class="btn btn-block btn-primary" id="new_factor_submit">Create</button> </td>
                    <td class="col-sm-1"></td>
                </tr>
            </tbody>
        </table>
        {% else %}
            <div class="row">
            <legend>Components Weighted Factors (Scales: 0 -1, Sum Left: {{ weight_left }})</legend>
            <p>Components Names: <strong>{{ component_names }}</strong></p>
        </div>
            <table class="table" id="factor_table">
            <thead>
                <tr>
                    <th>Component Name</th>
                    <th>Weight</th>

                </tr>
            </thead>
            <tbody>
                {% for factor in project.projectcomponentsweight_set.all %}
                    <tr class="sum" id="{{ factor.id }}">
                        <td class="col-sm-3">{{ factor.component }}</td>
                        <td class="col-sm-3">{{ factor.weight|floatformat:2 }} </td>

                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
        -->

        <!--Delete Project confirmatoin modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="myModalLabel">Delete Project "{{ project.name }}"?</h3>
                    </div>
                    <div class="modal-body">
                        <p>Warning! This change cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="">
                        <button class="btn btn-default" data-dismiss="modal" id="project_undelete">Abort</button>
                        <input type="hidden" name="delete" value="True">
                        <a href="{% url 'project_delete' project.id %}" data-toggle="modal" role="button" class="btn btn-danger" id="project_really_delete">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <script>
        function setAutoComplete() {
            $("#new_component").autocomplete({
                source: {{ component_names | safe }}, <!-- "ComponentListFromJIRA",-->
                autoFocus: true,
                minLength: 0
            });
        }

        $(document).ready(function() {
            setAutoComplete();
            $('#new_factor_submit').click(function() {
                var new_component = $('#new_component').val().trim();
                if ( new_component == ''){
                    $('#new_factor_errors').text("Component cannot be empty!");
                }
                else {
                    if ( $('#new_weight').val().trim() == '' ){
                        $('#new_factor_errors').text("Weight cannot be empty!");
                    }
                    else {
                        var new_weight = $('#new_weight').val().trim();
                        if (isNaN(new_weight)){
                            $('#new_factor_errors').text("Weight value should be Numbers!");
                        }
                        else {
                            if ( new_weight < 0 || new_weight > 1) {
                                $('#new_factor_errors').text("Weight value should between 0-1!");
                            }
                            else {
                                weight_sum = 1 - Number({{ weight_left }}) + Number(new_weight);
                                if (weight_sum > 1){
                                    $('#new_factor_errors').text("Weight Sum can't exceed 1!");
                                }
                                else {
                                    new_factor = JSON.stringify({
                                            component: new_component,
                                            weight: new_weight,
                                            project: "/ceeq/api/v1/project/{{ project.id }}/"
                                            });
                                    var button = $(this);
                                    button.attr('disabled', 'disabled');
                                    button.html("<i class='icon-spinner icon-spin'></i> ");
                                    $.ajax({
                                        url: "/ceeq/api/v1/factor/",
                                        type: "POST",
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: new_factor
                                        }).complete(function(response) {
                                            if (response.status == 201) {
                                                var factor_url = response.getResponseHeader('Location').toString();
                                                $.ajax({
                                                    url: factor_url,
                                                    type: "GET",
                                                    dataType: 'json'
                                                }).complete(function(response) {
                                                            factor = JSON.parse(response.responseText);
                                                            insertFactor(factor);
                                                });
                                                button.removeAttr('disabled', 'disabled');
                                                button.html("Create");
                                                $('#new_component').val('').focus();
                                                $('#new_weight').val('');
                                                $('#new_factor_errors').text("");
                                                $('html, body').animate({
                                                    scrollTop: $("#new_component").offset().top
                                                }, 800);
                                            }
                                            else {
                                                response = JSON.parse(response.responseText);
                                                if (response.error_message == "columns project_id, component are not unique") {
                                                    $('#new_factor_errors').text("component \"" + new_component + "\" is not unique!");
                                                    $('#new_component').focus().select();
                                                    button.removeAttr('disabled', 'disabled');
                                                    button.html("Create");
                                                    $('#factor_table > tbody > tr').each(function() {
                                                        if ($(this).find('.component').val()) {
                                                            if ($(this).find('.component').val() == new_component) {
                                                                var row = $(this);
                                                                row.css('-webkit-transition','background-color 0s');
                                                                row.css('background-color','rgba(227, 118, 114, 1.0)');
                                                                setTimeout(function() {
                                                                    row.css('-webkit-transition','background-color 1s');
                                                                    row.css('background-color','rgba(255, 255, 255, 0.47)');
                                                                }, 500);
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    });
                                }
                            }
                        }
                    }
                }
            });
            $('#factor_table').on('click', '.factor-delete', function(event) {
                var row = $(this).closest('tr');
                var factor_id = row.attr('id');
                var button = row.find('.factor-delete');
                button.html("<i class='icon-spinner icon-spin icon-large'></i>");
                button.attr('disabled', 'disabled');
                $.ajax({
                    url: "/ceeq/api/v1/factor/" + factor_id +"/",
                    method: 'DELETE'
                }).done(function(data) {
                    row.remove();
                });
                location.reload();
            });
            $('#factor_table').on('click', '.factor-save', function(event) {
                var row = $(this).closest('tr');
                var factor_id = row.attr('id');
                var button = row.find('.factor-save');
                var component = row.find('.component').val().trim();
                <!-- console.log(component) -->
                if ( component == '') {
                    row.find('.errors').text("Component cannot be empty!");
                }
                else {
                    if (row.find('.weight').val().trim() == '') {
                        row.find('.errors').text("Weight cannot be empty!");
                    }
                    else {
                        var weight = row.find('.weight').val().trim();
                        if (isNaN(weight)) {
                            row.find('.errors').text("Weight value should be Numbers!");
                        }
                        else {
                            if (weight < 0 || weight >1) {
                                row.find('.errors').text("Weight value should between 0-1!");
                            }
                            else {
                                var weight_sum = 0;
                                $('.sum').each(function() {
                                   var value = Number($(this).find('.weight').val());
                                    weight_sum += value;
                                });

                                if (weight_sum > 1){
                                    row.find('.errors').text("Weight Sum can't exceed 1!");
                                }
                                else {
                                    button.html("<i class='icon-spinner icon-spin icon-large'></i>");
                                    button.attr('disabled', 'disabled');
                                    data = JSON.stringify({
                                            component: component,
                                            weight: weight,
                                            project: "/ceeq/api/v1/project/{{ project.id }}/"
                                            })
                                    $.ajax({
                                        url: "/ceeq/api/v1/factor/" + factor_id +"/",
                                        method: 'PUT',
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: data
                                    }).complete(function(response) {
                                        if (response.status == 204) {
                                            row.find('.component').val(component);
                                            row.find('.weight').val(weight);
                                            row.find('.errors').text("Saved!");
                                            button.removeAttr('disabled', 'disabled');
                                            button.html("Update");
                                            row.css('-webkit-transition','background-color 0s');
                                            row.css('background-color','rgba(173, 216, 230, 0.47)');
                                            setTimeout(function() {
                                                row.css('-webkit-transition','background-color 1s');
                                                row.css('background-color','rgba(255, 255, 255, 0.47)');
                                                row.find('.errors').text("");
                                            }, 1000);
                                        }
                                        else {
                                            response = JSON.parse(response.responseText);
                                            if (response.error_message == "columns project_id, component are not unique") {
                                                row.find('.errors').text("component \"" + component + "\" is not unique!");
                                                button.removeAttr('disabled', 'disabled');
                                                button.html("Update");
                                                $('#factor_table > tbody > tr').each(function() {
                                                    if ($(this).find('.component').val()) {
                                                        if ($(this).find('.component').val() == component) {
                                                            var row = $(this);
                                                            row.css('-webkit-transition','background-color 0s');
                                                            row.css('background-color','rgba(227, 118, 114, 1.0)');
                                                            setTimeout(function() {
                                                                row.css('-webkit-transition','background-color 1s');
                                                                row.css('background-color','rgba(255, 255, 255, 0.47)');
                                                            }, 500);
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                    setTimeout(function() {
                                        location.reload();
                                    }, 3000);
                                }
                            }
                        }
                    }
                }

            });
        });
        function insertFactor (factor) {
            $('#factor_table > tbody > tr').each(function() {
                if ($(this).find('.component').val()) {
                    if ($(this).find('.component').val() > factor.component) {
                        $(this).before("<tr id=\"" + factor.id + "\" class=\"added-factor\"><td class=\"col-sm-3\"><input type=\"text\" class=\"form-control component\" value=\"" + factor.component + "\" onkeypress=\"clickSave(event);\"></td><td class=\"col-sm-3\"><input type=\"text\" class=\"form-control weight\" value=\"" + factor.weight + "\" onkeypress=\"clickSave(event);\"></td><td class=\"col-sm-3 errors\"><span class=\"errors\"></span></td><td class=\"col-sm-2\"><button class=\"btn btn-block btn-primary factor-save\">Update</button></td><td class=\"col-sm-1\"><button class=\"btn btn-block btn-danger factor-delete\"><i class=\"fa fa-trash-o\"></i></button></td></tr>")
                        return false;
                    }
                }
                else if ($(this).hasClass('new-factor')) {
                    $(this).before("<tr id=\"" + factor.id + "\" class=\"added-factor\"><td class=\"col-sm-3\"><input type=\"text\" class=\"form-control component\" value=\"" + factor.component + "\" onkeypress=\"clickSave(event);\"></td><td class=\"col-sm-3\"><input type=\"text\" class=\"form-control weight\" value=\"" + factor.weight + "\" onkeypress=\"clickSave(event);\"></td><td class=\"col-sm-3 errors\"><span class=\"errors\"></span></td><td class=\"col-sm-2\"><button class=\"btn btn-block btn-primary factor-save\">Update</button></td><td class=\"col-sm-1\"><button class=\"btn btn-block btn-danger factor-delete\"><i class=\"fa fa-trash-o\"></i></button></td></tr>")
                }
            });
            $('#factor_table > tbody > tr').each(function() {
                if ($(this).hasClass('added-factor')) {
                    var row = $(this);
                    row.css('-webkit-transition','background-color 0s');
                    row.css('background-color','rgba(173, 216, 230, 0.47)');
                    setTimeout(function() {
                        row.css('-webkit-transition','background-color 1s');
                        row.css('background-color','rgba(255, 255, 255, 0.47)');
                    }, 500);
                    row.removeClass('added-factor');
                }
            });
            location.reload();
        }
        $("#new_component").keypress(function(event){
            if(event.keyCode == 13){
                $("#new_factor_submit").focus();
            }
        });
        $("#new_weight").keypress(function(event){
            if(event.keyCode == 13){
                $("#new_factor_submit").focus();
            }
        });
        function clickSave(event) {
            if (event.keyCode == 13) {
                var source = event.srcElement;
                var button = $(source).closest('tr').find('.factor-save');
                button.click();
            }
        }

    </script>
{% endblock %}