{% block body %}

    <div class="container">
        <div class="row">
            <legend>Project Information</legend>
            <p><strong>Project Name: </strong>{{ project.name }}</p>

            <br>
        </div>



        {% for version_name in version_names %}
            <h3>Version: {{ version_name }}</h3>
            <div id="ceeq_trend_graph_{{ version_name }}" style="width: 800px; height: 400px;"></div>
            <div class="row" style="width: 80%;">
                <p style="text-align: center">
                    Export Graph to:
                    <button id="png_{{ version_name }}">PNG</button>
                    <button id="jpeg_{{ version_name }}">JPEG</button>
                    <button id="pdf_{{ version_name }}">PDF</button>
                </p>
            </div>
        {% endfor %}

        <div id="version_key"></div>

    </div>
{% endblock %}

{% block footer %}

{% endblock %}