{% extends "base.html" %}
{% block title %} Projects Defects Density {% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <ul id="subnav-tabs" class="nav nav-tabs">
            <li><a href="#dd_detail" data-toggle="tab">Current Defects Density</a> </li>
            <li><a href="#dd_trend" data-toggle="tab">Trending Defects Density</a> </li>
            <li><a href="#dd_history" data-toggle="tab">History Defects Density</a> </li>
        </ul>
    </div>

    <div class="container">
        <div class="tab-content">
            <div class="tab-pane" id="dd_detail">
                {% include 'project_dd_detail.html' %}
            </div>

            <div class="tab-pane" id="dd_trend">
                {% include 'project_dd_trend.html' %}
            </div>

            <div class="tab-pane" id="dd_history">
                {% include 'dd_list_single.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function() {
            $('#subnav-tabs').find('a[href="#dd_detail"]').tab('show');
            $.getJSON("{% url 'fetch_defects_density_score' project.id %}").done(function(data) {
                for (var key in data){
                    $("#dd_trend_graph_"+key).highcharts({
                        title: {
                            text: 'Defects Density Trending Graph',
                            x: -20 //center
                        },
                        subtitle: {
                            text: 'Affected Version:'+key,
                            x: -20
                        },
                        xAxis: {
                            title: {
                                text: 'Timeline'
                            },
                            categories: data[key]['categories']
                        },
                        yAxis: {
                            title: {
                                text: 'Defects Density score'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAligh: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'CXP',
                            data: data[key]['cxp']
                        },{
                            name: 'Outbound',
                            data: data[key]['outbound']
                        },{
                            name: 'Platform',
                            data: data[key]['platform']
                        },{
                            name: 'Reports',
                            data: data[key]['reports']
                        },{
                            name: 'Applications',
                            data: data[key]['applications']
                        },{
                            name: 'VoiceSlots',
                            data: data[key]['voiceSlots']
                        }]
                    });
                }
            })
        });
    </script>
{% endblock %}