{% block body %}

    <div class="container">
        <div class="row">
            <legend>Project Information</legend>
            <p><strong>Project Name: </strong>{{ project.name }}</p>
            <p><strong>Project Score:</strong>{{ project.score }}</p>
            <br>
        </div>

        {% for project_dd in project_dds %}
            {{ project_dd.project }}: {{ project_dd.created }}, {{ project_dd.version }}
            {{ project_dd.cdrFeeds }}
        {% endfor %}



    </div>
{% endblock %}

{% block footer %}

{% endblock %}