{% block body %}

    <div class="container">
        <div class="row">
            <legend>Project Information</legend>
            <p><strong>Project Name: </strong>{{ project.name }}</p>
            <p><strong>Project Score:</strong>{{ project.score }}</p>
            <br>
        </div>

        {% for project_dd in project_dds %}
            Name: {{ project_dd.project }}<br>
            Date: {{ project_dd.created }}<br>
            Version: {{ project_dd.version }}<br>
            CDR Feeds: {{ project_dd.cdrFeeds }}<br>
            CXP: {{ project_dd.cxp }}<br>
            Outbound: {{ project_dd.outbound }}<br>
            Platform: {{ project_dd.platform }}<br>
            Reports: {{ project_dd.reports }}<br>
            Voice Apps: {{ project_dd.voiceApps }}<br>
            ----------------------------------<br>
        {% endfor %}



    </div>
{% endblock %}

{% block footer %}

{% endblock %}