
{% block body %}
    <h4>Project Defects Density </h4>
    <div class="container">
        <table class="table table-striped table-hover table-condensed table-bordered" style="">
            <thead>
                <tr>
                    <td class="col-md-3"><strong>Project</strong></td>
                    <td class="col-md-2"><strong>Version</strong></td>
                    <td class="col-md-2"><strong>Date</strong></td>
                    <td class="col-md-2"><strong>CDR Feeds</strong></td>
                    <td class="col-md-2"><strong>CXP</strong></td>
                    <td class="col-md-2"><strong>Outbound</strong></td>
                    <td class="col-md-2"><strong>Platform</strong></td>
                    <td class="col-md-2"><strong>Voice Apps</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for dd in dds %}
                    <tr>
                        <td class="col-md-4">{{ dd.project.name }}</td>
                        <td class="col-md-2">{{ dd.version }}</td>
                        <td class="col-md-2">{{ dd.created }}</td>
                        <td class="col-md-2">{{ dd.cdrFeeds }}</td>
                        <td class="col-md-2">{{ dd.cxp }}</td>
                        <td class="col-md-2">{{ dd.outbound }}</td>
                        <td class="col-md-2">{{ dd.platform }}</td>
                        <td class="col-md-2">{{ dd.voiceApps }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}