
{% block body %}
    <div class="row">
            <legend>Project Information</legend>
            <p><strong>Project Name: </strong>{{ project.name }}</p>
            <p>
                {% if project.score == -1 %}
                    No created issues
                {% elif project.score == -2 %}
                    Out of Range
                {% elif project.score == -3 %}
                    No open issues
                {% elif project.score == -4 %}
                    No JIRA Data
                {% elif project.score == -9 %}
                    No evaluate
                {% else %}
                    <strong>CEEQ Score: &nbsp;&nbsp;</strong>{{ project.score }}
                {% endif %}
            </p>
            <br>
        </div>

    {% if superuser %}
        <div class="container">
            <table class="table table-striped table-hover table-condensed table-bordered" style="">
                <thead>
                    <tr>
                        <td style="text-align: center"><strong>Version</strong></td>
                        <td style="text-align: center"><strong>Date</strong></td>
                        <td style="text-align: center"><strong>CXP</strong></td>
                        <td style="text-align: center"><strong>Outbound</strong></td>
                        <td style="text-align: center"><strong>Platform</strong></td>
                        <td style="text-align: center"><strong>Reports</strong></td>
                        <td style="text-align: center"><strong>Application</strong></td>
                        <td style="text-align: center"><strong>Voice Slots</strong></td>
                        <td style="text-align: center"><strong>Del</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for dd in project_dds %}
                        <tr>
                            <td class="col-sm-2" style="text-align: center">{{ dd.version }}</td>
                            <td class="col-sm-2" style="text-align: center">{{ dd.created }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.cxp|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.outbound|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.platform|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.reports|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.application|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">{{ dd.voiceSlots|floatformat:3 }}</td>
                            <td class="col-sm-1" style="text-align: center">
                                <a href="{% url 'dd_delete' dd.id %}" style="color: red;"><i class="fa fa-trash-o fa-lg"></i></a> |
                                <a href="{% url 'dd_detail' dd.id %}"><i class="fa fa-edit fa-lg"></i> </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container" id="dd_list_single"></div>
    {% endif %}
    <br>
{% endblock %}